<! DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<nav>
    <h1>Cat Identifier</h1>
    <p>
        This Application will Identify if Cat is present in Photo
    </p>
    Click on Browse to upload Photo from your System
    <p>
</nav>
<section>
    <form id="upload-form" action="{{url_for('upload')}}" method="POST" enctype="multipart/form-data">
        <input type="file" name="photo" accept="image/*" multiple>
        <input type="submit" value="UPLOAD">
    </form>
</section>
</body>
</html>
