html {
  font-family: sans-serif;
  color: white
  padding: 1rem;
}

body {
  background-image: url('index.jpg');
  background-repeat:no-repeat;
  background-position: right top;
}

h1 {
  font-family: serif;
  color: black;
  margin: 2rem 0;
}

a {
  color: red;
}

